@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<center><h1><p>"Welcome to B-Capitals Bank — Where Trust Meets Technology"</p></h1>
<h3>Experience secure, seamless, and smart banking from anywhere in the world.</h3>

<h1>
<button style="padding: 15px; type="button" onclick="location.href='@Url.Action("Register", "Account", new { area = "User" })'" class="btn btn-primary">
                     Open Account
</button></h1>
<h3>We use end-to-end encryption, biometric authentication, and AI-powered fraud detection to keep your money and data safe.<h3>
<h3>Your Security, Our Priority</h3>
</center>