@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<center>
<h2>Welcome to your Dashboard</h2>
<h2>Please Select your option</h2>
<h1>
<button style="padding: 15px;" onclick="loadBalance()">View Balance</button></h1>
<div id="balanceModal"></div>

<h1>
<button style="padding: 15px; type="button" onclick="location.href='@Url.Action("Deposit", "Account", new { area = "User" })'" class="btn btn-primary">
    Deposit
</button></h1>


<h1>
<button style="padding: 15px; type="button" onclick="location.href='@Url.Action("Withdraw", "Account", new { area = "User" })'" class="btn btn-primary">
    Withdraw
</button></h1>
</center>