@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<h2>Register</h2>

<form method="post">
    <label>Username</label>
    <input type="text" name="username" required />
    <label>Password</label>
    <input type="password" name="password" required />
    <label>PIN</label>
    <input type="password" name="pin" required />
    <button type="submit">Register</button>
</form>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}
